body {
	padding-top: 60px;
	padding-left: 20px;
	margin-right: 20px;
	background-color: lightblue;
}

@media (max-width: 980px) {
	body {
		padding-top: 0;
	}
}

.footer {
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
}

